<!-- product_detail.html -->
{% extends 'shop/basic.html' %}
{% block title%} My Awesome Cart Payment Page {% endblock %}
{% block body %}
<form action="{% url 'product_detail' product.id %}" method="post" id="payment-form">
    {% csrf_token %}
    <div id="card-element"><!-- A Stripe Element will be inserted here. --></div>
    <button type="submit">Pay {{ product.price }}</button>
</form>
{% endblock %}
{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}